	
{% load static %}
{% block content %}
{% load my_tags %}

<!DOCTYPE html>
<html>
      <head>
			    <meta charset="UTF-8"> 
			    	<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
			    <!-- Boxicons CDN Link -->
			    	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
			    	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
			     <meta name="viewport" content="width=device-width, initial-scale=1.0">
				<style>
					table {
					width: 80%;
					color: #6185d4;
					font-family: sans-serif;
					font-size: 18px;
					text-align: center;
					}
					th {
					background-color: #000000;
					color: white;
					}
					tr:nth-child(even) {background-color: #f2f2f2}
				</style>
		</head>

<body>

<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">RailTEC</div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="{% url 'ctadashboard' %}">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
         <span class="tooltip">Dashboard</span>
      </li>
      <li>
        <a href="{% url 'ctadbtable' %}">
          <i class='bx bx-table'></i>
          <span class="links_name">Master Peak Database</span>
        </a>
         <span class="tooltip">Master Peak Database</span>
      </li>
      <li>
        <a href="{% url 'ctatrainspec' %}">
          <i class='bx bx-train'></i>
          <span class="links_name">Train Specifications</span>
        </a>
         <span class="tooltip">Train Specifications</span>
      </li>
    </ul>
  </div>
  <section class="home-section">
      <h1> Train Specifications </h1>
          <div class="container" style="margin-left:30px;margin-right:30px;width:auto;font-size:20px;">
          	<br>
          <p>Please Enter Train Details Here<p>
          </div>
<div class = "row">
	<div class = "col">
		<div class = "card card-subtitle mb-2 text-muted">
			<form method="GET" >
				{{ myFilter.form.as_p }}
				<button class = "btn btn-primary" type="submit">Search</button>
			</form>
		</div>
	</div>
</div>


<div class="row" >
	<div class = "col-md">
		<div class = "card card-body">
			<table>
				<tr>
					<th>V1E</th>
					<th >V1W</th>
					<th>V2E</th>
					<th>V2W</th>
					<th>L1E</th>
					<th>L1W</th>
					<th>L2E</th>
					<th>L2W</th>
					<th>Speed</th>
					<th>Train Date</th>
					<th>Axle</th>
					<th>Car Num</th>
					<th>Run Num</th>
					<th>Train Num</th>
				</tr>
			
				{% for traindata in train_data %}
				<tr>
					<td>{{traindata.v1e}}</td>
					<td>{{traindata.v1w}}</td>
					<td>{{traindata.v2e}}</td>
					<td>{{traindata.v2w}}</td>
					<td>{{traindata.l1e}}</td>
					<td>{{traindata.l1w}}</td>
					<td>{{traindata.l2e}}</td>
					<td>{{traindata.l2w}}</td>
					<td>{{traindata.speed}}</td>
					<td>{{traindata.train_id}}</td>
					<td>{{traindata.axle}}</td>
					<td>{{traindata.car_num}}</td>
					<td>{{traindata.run_num}}</td>
					<td>{{traindata.train_num}}</td>
				</tr>

				{% endfor %}	
				<div class="pagination">
					<span class="step-links">
						{% if train_data.has_previous %}
							<!-- <a href="?page=1">&laquo; first</a>
							<a href="?page={{ train_data.previous_page_number }}">previous</a> -->
							<a href="?{% param_replace page=1 %}">&laquo; first</a>
							<a href="?{% param_replace page=train_data.previous_page_number %}">previous</a>
						{% endif %}
				  
						<span class="current">
							Page {{ train_data.number }} of {{ train_data.paginator.num_pages }}.
						</span>
				  
						{% if train_data.has_next %}
						  <!-- <a href="?page={{ train_data.next_page_number }}">next</a>
						  <a href="?page={{ train_data.paginator.num_pages }}">last &raquo;</a> -->
						  <a href="?{% param_replace page=train_data.next_page_number %}">next</a>
						  <a href="?{% param_replace page=train_data.paginator.num_pages %}">last &raquo;</a>
						{% endif %}
					</span>
				  </div>
				
				
			</table>
		</div>
	</div>
</div>
	
<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
    <div class="logo_name">RailTEC</div>
      <i class='bx bx-menu' id="btn"></i>
	</div>

<script src="{% static 'js/dashboard.js' %}"></script>


</section>
</body>
</html>

{% endblock content %}